pipeline/pl_unarchive_files.json
{
	"name": "pl_unarchive_files",
	"properties": {
		"activities": [
			{
				"name": "cp_archive_load_files",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_binary",
						"type": "DatasetReference",
						"parameters": {
							"link": {
								"value": "@pipeline().parameters.file_url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azure_archive_binary",
						"type": "DatasetReference",
						"parameters": {
							"container": "raw",
							"folder": "archive",
							"file_name": {
								"value": "@concat(pipeline().parameters.file_name, '.zip')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "cp_unarchive_files",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "cp_archive_load_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "REESTR_FILE",
								"value": {
									"value": "@pipeline().parameters.file_name",
									"type": "Expression"
								}
							},
							{
								"name": "REEST_YEAR",
								"value": {
									"value": "@pipeline().parameters.year",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azure_unarchive_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "raw",
							"folder": "archive",
							"file_name": {
								"value": "@concat(pipeline().parameters.file_name, '.zip')",
								"type": "Expression"
							},
							"first_row": "TRUE",
							"column_delimiter": ";",
							"compression_type": "ZipDeflate"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azure_unarchive_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "raw",
							"folder": "unarchive",
							"file_name": {
								"value": "@concat(pipeline().parameters.file_name, '.csv')",
								"type": "Expression"
							},
							"first_row": "TRUE",
							"column_delimiter": ";",
							"compression_type": "None"
						}
					}
				]
			},
			{
				"name": "df_azure_to_ing_reestr_table",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "cp_unarchive_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_transform_csv_columns",
						"type": "DataFlowReference",
						"parameters": {
							"year": {
								"value": "'@{pipeline().parameters.year}'",
								"type": "Expression"
							},
							"file_name": {
								"value": "'@{pipeline().parameters.file_name}'",
								"type": "Expression"
							},
							"folder": {
								"value": "'@{activity('cp_unarchive_files').output}'",
								"type": "Expression"
							},
							"container": {
								"value": "'@{activity('cp_unarchive_files').output}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"FilesToTransform": {
								"container": "raw",
								"folder": "unrchive",
								"file_name": {
									"value": "@pipeline().parameters.file_name",
									"type": "Expression"
								},
								"first_row": true,
								"column_delimiter": ";",
								"compression_type": "None"
							},
							"renamedColumns": {
								"schema": "ing",
								"table": "reestr"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"continuationSettings": {
						"customizedCheckpointKey": "9c7b8705-9de0-4f7f-96d9-64c154edaa42"
					}
				}
			},
			{
				"name": "sc_clean_ing_reestr_table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "df_azure_to_ing_reestr_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql_hw1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "year",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.year",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": {
								"value": "DELETE FROM [stg].[reestr]\nWHERE [reestr_name] IN (\n    SELECT DISTINCT [reestr_name]\n    FROM [ing].[reestr]\n    WHERE [year] = @year\n);\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "sc_merge_into_stg_reestr",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "sc_clean_ing_reestr_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql_hw1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "MERGE INTO [stg].[reestr] AS target\nUSING (\n    SELECT *\n    FROM [ing].[reestr]\n    WHERE [year] = @year\n) AS source\nON (\n    (target.[VIN] = source.[VIN] AND target.[reestr_name] = source.[reestr_name])  -- If both VIN and reestr_name exist\n    OR \n    (source.[VIN] IS NULL AND target.[reestr_name] = source.[reestr_name])  -- If VIN is null, match on reestr_name\n)\n\n-- Update rows in target if they exist in both source and target\nWHEN MATCHED THEN\n    UPDATE SET \n        target.[PERSON] = source.[PERSON],\n        target.[REG_ADDR_KOATUU] = source.[REG_ADDR_KOATUU],\n        target.[OPER_CODE] = source.[OPER_CODE],\n        target.[OPER_NAME] = source.[OPER_NAME],\n        target.[D_REG] = source.[D_REG],\n        target.[DEP_CODE] = source.[DEP_CODE],\n        target.[DEP] = source.[DEP],\n        target.[BRAND] = source.[BRAND],\n        target.[MODEL] = source.[MODEL],\n        target.[VIN] = source.[VIN],\n        target.[MAKE_YEAR] = source.[MAKE_YEAR],\n        target.[COLOR] = source.[COLOR],\n        target.[KIND] = source.[KIND],\n        target.[BODY] = source.[BODY],\n        target.[PURPOSE] = source.[PURPOSE],\n        target.[FUEL] = source.[FUEL],\n        target.[CAPACITY] = source.[CAPACITY],\n        target.[OWN_WEIGHT] = source.[OWN_WEIGHT],\n        target.[TOTAL_WEIGHT] = source.[TOTAL_WEIGHT],\n        target.[N_REG_NEW] = source.[N_REG_NEW],\n        target.[updated_ts] = CURRENT_TIMESTAMP\n\n-- Insert rows that exist in source but not in target\nWHEN NOT MATCHED BY TARGET THEN\n    INSERT (\n        [PERSON], [REG_ADDR_KOATUU], [OPER_CODE], [OPER_NAME], [D_REG], \n        [DEP_CODE], [DEP], [BRAND], [MODEL], [VIN], [MAKE_YEAR], [COLOR], \n        [KIND], [BODY], [PURPOSE], [FUEL], [CAPACITY], [OWN_WEIGHT], \n        [TOTAL_WEIGHT], [N_REG_NEW], [reestr_name], [file_name], [inserted_ts], [updated_ts]\n    )\n    VALUES (\n        source.[PERSON], source.[REG_ADDR_KOATUU], source.[OPER_CODE], source.[OPER_NAME], source.[D_REG],\n        source.[DEP_CODE], source.[DEP], source.[BRAND], source.[MODEL], source.[VIN], source.[MAKE_YEAR], source.[COLOR], \n        source.[KIND], source.[BODY], source.[PURPOSE], source.[FUEL], source.[CAPACITY], source.[OWN_WEIGHT], \n        source.[TOTAL_WEIGHT], source.[N_REG_NEW], source.[reestr_name], source.[file_name], CURRENT_TIMESTAMP, CURRENT_TIMESTAMP\n    )\n\n-- Delete rows in target where `reestr_name` exists in source but there is no VIN code\nWHEN NOT MATCHED BY SOURCE AND target.[VIN] IS NULL THEN\n    DELETE;\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"file_url": {
				"type": "string",
				"defaultValue": "https://data.gov.ua/dataset/06779371-308f-42d7-895e-5a39833375f0/datapackage"
			},
			"file_name": {
				"type": "string",
				"defaultValue": "reestrTZ2013_part_1.csv"
			},
			"year": {
				"type": "string",
				"defaultValue": "2013"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-24T18:50:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}